<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo" />
      Flowbite
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Create and account</h1>
        <div class="space-y-4 md:space-y-6">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
           <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-2 mt-2">
            <%= f.label :username, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %> 
            <%= f.text_field :username, type:"text", id: "username", class:
            "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          </div>
          <div class="mb-2 mt-2">
            <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %> 
            <%= f.email_field :email, type: "email", id: "email", autofocus: true, class:
            "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

          <div class="mb-2 mt-2">
            <%= f.label :password, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white"%> <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, type:"password", id:"password", placeholder:"••••••••", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
            focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
            dark:focus:border-blue-500", autocomplete: "new-password" %>
          </div>

          <div class="mb-2 mt-2">
            <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %> 
            <%= f.password_field :password_confirmation,
            type:"confirm-password", id:"confirm-password", placeholder:"••••••••", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
            focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
            dark:focus:border-blue-500", autocomplete: "new-password" %>
          </div>
          <div class="mb-2 mt-2">
            <%= f.label :current_password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %> 
            <%= f.password_field :current_password,
            type:"confirm-password", id:"confirm-password", placeholder:"••••••••", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
            focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
            dark:focus:border-blue-500", autocomplete: "new-password" %>
          </div>
          <div class="input-group mb-2 mt-2">
            <% if resource.avatar.attached? %>
              <%= image_tag resource.avatar.variant(resize: "100x100!"), class: "rounded" %>
            <% else %>
               <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Rounded avatar">
              <% end %>
          
              <%= f.file_field :avatar %>
          </div>
          <button
            type="submit"
            class="w-full mb-2 mt-2 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
          <%= f.submit "Update" %>
          </button>
          <% end %> 
        </div>
    </div>
  </div>
</section>

<!-- <h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div> -->
