<div class="container">
  <h1 class="text-center">单词本</h1>
</div>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    名称
                </th>
                <th scope="col" class="px-6 py-3">
                    单词数
                </th>
                <th scope="col" class="px-6 py-3">
                    已掌握数
                </th>
                 <th scope="col" class="px-6 py-3">
                    状态
                </th>
                <th scope="col" class="px-6 py-3">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
           <% @word_books.each do |book| %>
               <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   <%= book.name %>
                </th>
                <td class="px-6 py-4">
                <%= book.words.count %>
                </td>
                <td class="px-6 py-4">
                     <%= book.words.where(status: 1).count %>
                </td>
                <td class="px-6 py-4">
                     <%= book.editable %>
                </td>
                 <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <%= link_to '详情',  word_book_path(book) %>
                    </a>
                </td>
            </tr>
           <% end %>
        </tbody>
    </table>
</div>

