<!doctype html>
<html>
  <head>
    <title>ShadcnRailsTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    %>

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>

  <body>
    <header><%= render 'layouts/navbar' %> <%= render 'layouts/alerts' %></header>
    <main>
      <blockquote class="text-xl italic font-semibold text-left text-gray-900 dark:text-white p-4 mt-32"><%= yield %></blockquote>
    </main>
  </body>
</html>
